{% extends 'masters/tables.html' %}{% load staticfiles %}
{% block table %}
	<table id="table-ext-1" class="table table-striped table-hover" style="margin-bottom:5em;">
		<thead>
			<tr>
				<th style="width:5%">Estatus</th>
				<th style="width:10%">Detalle</th>
				<th style="width:25%">Descripción</th>
				<th style="width:25%">Fechas</th>
				<th style="width:25%">Pesos</th>
				<th style="width:5%">Opciones</th>
			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
				<tr>
					<td>
						{% if '0' in object.flag %}
							<span class="label label-danger">Sin LEQ</span>
						{% elif '1' in object.flag %}
							<span class="label label-warning">En proceso</span>
						{% elif '2' in object.flag %}
							<span class="label label-success">Cerrada</span>
						{% endif %}
					</td>						
					<td>
						<table>
							<tr>
								<td style="padding: 0.5em;"><b>OC:</b></td>
								<td style="padding: 0.5em;">{{ object.order }}</td>
							</tr>
							<tr>
								<td style="padding: 0.5em;"><b>ID:</b></td>
								<td style="padding: 0.5em;">{{ object.bpid }}</td>
							</tr>
							<tr>
								<td style="padding: 0.5em;"><b>LEQ:</b></td>
								<td style="padding: 0.5em;">{{ object.lq }}</td>
							</tr>
							
						</table>
					</td>
					<td>
						<table>
							<tr>
								<td  style="padding: 0.5em;"><b>Cliente:</b></td>
								<td  style="padding: 0.5em;">{{ object.client_name }}</td>
							</tr>
							<tr>
								<td  style="padding: 0.5em;"><b>Producto:</b></td>
								<td  style="padding: 0.5em;">{{ object.product_name }}</td>
							</tr>
							{% if perms.orders.delete_order %}
							<tr>
								<td  style="padding: 0.5em;"><b>Empacador:</b></td>
								<td  style="padding: 0.5em;">{{ object.packer_name }}</td>
							</tr>
							{% endif %}
						</table>

					</td>
					
					<td>
						<table>
							<tr>
								<td style="padding: 0.5em;"><b>Creación:</b></td>
								<td style="padding: 0.5em;">{{ object.added_date }}</td>
							</tr>
							<tr>
								<td style="padding: 0.5em;"><b>Actualización:</b></td>
								<td style="padding: 0.5em;">{{ object.updated }}</td>
							</tr>
							{% if object.expiration%}
							<tr>
								<td style="padding: 0.5em;"><b>Caducidad:</b></td>
								<td style="padding: 0.5em;">{{ object.expiration }}</td>
							</tr>
							{%endif%}
						</table>
					</td>
					<td>
						<table>
							<tr>
								<td style="padding: 0.5em;"><b>Meta:</b></td>
								<td style="padding: 0.5em;">{{ object.qty|floatformat:2 }} kgs</td>
							</tr>
							<tr>
								<td style="padding: 0.5em;"><b>Real:</b></td>
								<td style="padding: 0.5em;">{{ object.weight|floatformat:2 }} kgs</td>
							</tr>
							<tr>
								<td style="padding: 0.5em;"><b>Diferencia:</b></td>
								<td style="padding: 0.5em;">{{ object.delta_weight|floatformat:2 }} kgs</td>
							</tr>
						</table>
					</td>
					<td><a href="{% url 'orders:config' object.id %}" class="btn btn-app btn-primary"><i class="fa fa-cog "></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
